/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0; }

h2 {
  font-size: 18px;
  font-weight: normal; }

ul {
  margin: 0; }

a {
  color: #9fce50;
  text-decoration: none; }

.full {
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.max-content {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px; }

.bg-rep-1 {
  background: url('../img/bg-rep.png'); }

.black {
  background-color: #000; }

.dark-grey {
  background-color: #3a3a3a; }

.light-grey {
  background-color: #525252; }

.light-blue {
  background-color: #01defe; }

.pink {
  background-color: #cd1670; }

.brand-green {
  background-color: #9fce50; }

.main-content .section-block {
  padding: 32px 0; }
.main-content .intro-copy {
  border-bottom: 1px solid #4c4c4c;
  border-top: 1px solid #4c4c4c;
  color: #fff;
  text-align: center; }
  .main-content .intro-copy h2 {
    margin: 0; }
  .main-content .intro-copy p {
    margin: 0 1em 0 0; }

.areas {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  table-layout: fixed;
  width: 100%; }
  .areas li {
    position: relative;
    text-align: center; }
    .areas li a {
      color: #fff;
      text-align: center; }
  .areas .roles .icon:before {
    background-image: url('../img/page.png');
    height: 51px;
    width: 45px; }
  .areas .events .icon:before {
    background-image: url('../img/calendar.png');
    height: 51px;
    width: 48px; }
  .areas .process .icon:before {
    background-image: url('../img/loading.png');
    height: 48px;
    width: 46px; }
  .areas .icon {
    border-radius: 50%/50%;
    height: 141px;
    margin: 0 auto;
    width: 141px; }
    .areas .icon:before {
      content: '';
      display: block;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      top: 20%; }
  .areas h2 {
    font-weight: 300; }

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .areas {
    display: table; }
    .areas li {
      display: table-cell; } }

nav {
  display: none; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav li {
    border-bottom: 1px solid #4c4c4c; }
  nav a {
    border-bottom: 1px solid #3a3a3a;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: border 300ms ease-out; }
    nav a:hover {
      border-bottom: 1px solid #fff; }

.menu-mobile {
  display: block;
  overflow: hidden; }
  .menu-mobile .menu-button {
    background-image: url('../img/menu-button.png');
    border: 0;
    float: right;
    height: 36px;
    margin: 0;
    width: 36px; }

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .feature-content {
    background-color: transparent;
    bottom: 0;
    position: absolute; }
    .feature-content h1 {
      font-size: 68px;
      line-height: normal; } }

@media only screen and (min-width: 49em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  nav {
    display: block; }
    nav ul {
      display: table;
      padding: 0; }
      nav ul li {
        display: table-cell;
        border-right: 1px solid #4c4c4c; }
        nav ul li:first-child {
          border-left: 1px solid #4c4c4c; }
  .menu-mobile {
    display: none; } }

.search {
  border-top: 1px solid #4c4c4c;
  padding: 9px 0; }
  .search input {
    border: 0;
    margin: 0;
    padding: 18px 10px 14px; }
    .search input:first-child {
      border-bottom-left-radius: 30px 26px;
      border-top-left-radius: 30px 26px;
      font-size: 18px;
      padding: 12px 10px 12px 33px;
      width: 87%; }
    .search input:last-child {
      background-color: #fff;
      background-image: url('../img/search.png');
      background-position: 45% 50%;
      background-repeat: no-repeat;
      border-bottom-right-radius: 30px 26px;
      border-top-right-radius: 30px 26px;
      text-indent: -9999px;
      width: 13%; }

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .search input:first-child {
    width: 94%; }
  .search input:last-child {
    width: 6%; } }

.social {
  position: fixed;
  right: 0;
  top: 350px;
  z-index: 9999; }
  .social ul {
    list-style-type: none;
    padding: 0; }
  .social a {
    display: block;
    height: 42px;
    width: 42px; }
  .social .facebook {
    background-image: url('../img/facebook.png'); }
  .social .twitter {
    background-image: url('../img/twitter.png'); }
  .social .youtube {
    background-image: url('../img/youtube.png'); }

.logo-container {
  padding: 16px 0 22px; }

a.logo {
  color: #fff;
  font-size: 24px; }

.feature:before {
  display: none; }

.feature-item {
  position: relative; }

.feature-image {
  background-size: cover;
  height: 475px; }
  .feature-image img {
    display: none; }

.feature-content {
  background-color: #525252;
  padding: 10px 0;
  width: 100%; }
  .feature-content .max-content {
    max-width: 580px; }
  .feature-content span {
    color: #cd1670; }
  .feature-content h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
    text-align: center; }

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .feature {
    position: relative; }
    .feature:before {
      box-shadow: inset 135px 0 195px -25px rgba(0, 0, 0, 0.95), inset -136px 0 195px -25px rgba(0, 0, 0, 0.95);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999; }
  .feature-content {
    background-color: transparent;
    bottom: 0;
    position: absolute; }
    .feature-content h1 {
      font-size: 68px;
      line-height: normal; } }

footer {
  color: #fff;
  padding: 48px 0 22px; }
  footer .footer-content {
    overflow: hidden;
    width: 100%; }

.awards {
  list-style-type: none;
  padding: 0; }
  .awards li {
    display: inline-block; }

.copyright {
  margin: 0;
  position: relative;
  top: 18px; }

/*# sourceMappingURL=app.css.map */