.areas {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  table-layout: fixed;
  width: 100%;

  li {
    position: relative;
    text-align: center;

    a {
      color: $white;
      text-align: center;
    }
  }

  .roles {
    .icon {
      &:before {
        background-image: url('../img/page.png');
        height: 51px;
        width: 45px;
      }
    }
  }

  .events {
    .icon {
      &:before {
        background-image: url('../img/calendar.png');
        height: 51px;
        width: 48px;
      }
    }
  }

  .process {
    .icon {
      &:before {
        background-image: url('../img/loading.png');
        height: 48px;
        width: 46px;
      }
    }
  }

  .icon {
    border-radius: 50%/50%;
    height: 141px;
    margin: 0 auto;
    width: 141px;
    // width: 33%;
    &:before {
      content: '';
      display: block;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      top: 20%;
    }
  }

  h2 {
    font-weight: 300;
  }
}

//2-col
@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .areas {
    display: table;

    li {
      display: table-cell;
    }
  }
}
