.feature {
  &:before {
    display: none;
  }
}

.feature-item {
  position: relative;
}

.feature-image {
  background-size: cover;
  height: 475px;

  img {
    display: none;
  }
}

.feature-content {
  background-color: $light-grey;
  padding: 10px 0;
  width: 100%;

  .max-content {
    max-width: 580px;
  }

  span {
    color: $pink;
  }

  h1 {
    color: $white;
    font-size: 38px;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .feature {
    position: relative;

    &:before {
      box-shadow: inset 135px 0 195px -25px rgba(0, 0, 0, .95), inset -136px 0 195px -25px rgba(0, 0, 0, .95);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }

  .feature-content {
    background-color: transparent;
    bottom: 0;
    position: absolute;

    h1 {
      font-size: 68px;
      line-height: normal;
    }
  }
}