footer {
  color: $white;
  padding: 48px 0 22px;

  .footer-content {
    overflow: hidden;
    width: 100%;
  }
}

.awards {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

.copyright {
  margin: 0;
  position: relative;
  top: 18px;
}