nav {
  display: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $border-grey;  }

  a {
    border-bottom: 1px solid $dark-grey;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: border 300ms ease-out;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

.menu-mobile {
  display: block;
  overflow: hidden;

  .menu-button {
    background-image: url('../img/menu-button.png');
    border: 0;
    float: right;
    height: 36px;
    margin: 0;
    width: 36px;
  }
}

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  .feature-content {
    background-color: transparent;
    bottom: 0;
    position: absolute;

    h1 {
      font-size: 68px;
      line-height: normal;
    }
  }
}

//3-col
@media only screen and (min-width: 49em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  nav {
    display: block;

    ul {
      display: table;
      padding: 0;

      li {
        display: table-cell;
        border-right: 1px solid $border-grey;

        &:first-child {
          border-left: 1px solid $border-grey;
        }
      }
    }
  }

  .menu-mobile {
    display: none;
  }
}

//4-col
@media only screen and (min-width: 64em) {
}
