.search {
  border-top: 1px solid $border-grey;
  padding: 9px 0;

  input {
    border: 0;
    margin: 0;
    padding: 18px 10px 14px;

    &:first-child {
      border-bottom-left-radius: 30px 26px;
      border-top-left-radius: 30px 26px;
      font-size: 18px;
      padding: 12px 10px 12px 33px;
      width: 87%;
    }

    &:last-child {
      background-color: $white;
      background-image: url('../img/search.png');
      background-position: 45% 50%;
      background-repeat: no-repeat;
      border-bottom-right-radius: 30px 26px;
      border-top-right-radius: 30px 26px;
      text-indent: -9999px;
      width: 13%;
    }
  }
}

@media only screen and (min-width: 35em), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .search {
    input {
      &:first-child {
        width: 94%;
      }
      &:last-child {
        width: 6%;
      }
    }
  }
}
