.social {
  position: fixed;
  right: 0;
  top: 350px;
  z-index: 9999;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    display: block;
    height: 42px;
    width: 42px;
  }

  .facebook {
    background-image: url('../img/facebook.png');
  }

  .twitter {
    background-image: url('../img/twitter.png');
  }

  .youtube {
    background-image: url('../img/youtube.png');
  }
}
