html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $helvetica-neue;
  font-size: 14px;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  margin: 0;
}

a {
  color: $brand-green;
  text-decoration: none;
}

.full {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.max-content {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px;
}

.bg-rep-1 {
  background: url('../img/bg-rep.png');
}

.black {
  background-color: $black;
}

.dark-grey {
  background-color: $dark-grey;
}

.light-grey {
  background-color: $light-grey;
}

.light-blue {
  background-color: $light-blue;
}

.pink {
  background-color: $pink;
}

.brand-green {
  background-color: $brand-green;
}

.main-content {
  .section-block {
    padding: 32px 0;
  }

  .intro-copy {
    border-bottom: 1px solid $border-grey;
    border-top: 1px solid $border-grey;
    color: $white;
    text-align: center;

    h2 {
      margin: 0;
    }

    p {
      margin: 0 1em 0 0;
    }
  }
}

