//Vars

//Colors
$border-grey: #4c4c4c;
$light-grey: #525252;
$dark-grey: #3a3a3a;
$brand-green: #9fce50;
$pink: #cd1670;
$light-blue: #01defe;
$white: #fff;
$black: #000;

//Fonts
$helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
